{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sintonize{% endblock %}</title>
    <link rel="icon" href="{% static 'images/images_logo/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Wix+Madefor+Display:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="nav-menu">
            <div class="brand">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/images_logo/logo.png' %}" alt="Logo">
                </a>  
            </div>
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Pesquisa" maxlength="50" aria-label="Pesquisa" autocomplete="off">
                <img src="{% static 'images/images_menu/lupa.png' %}" alt="Lupa" class="search-icon">
                <div class="dropdown-options" id="dropdownOptions"></div>
                <p id="noResultsMessage" style="display:none;"> Nenhum resultado encontrado para sua pesquisa </p> 
            </div>
 
            <ul class="menu">
                <li class="menu-item"><a href="{% url 'index' %}">Início</a></li>
                <li class="menu-item"><a href="{% url 'trilha' %}">Sobre o Burnout</a></li>
                <li class="menu-item"><a href="{% url 'sondagem' %}">Sondagem de Burnout</a></li>
                <li class="menu-item"><a href="{% url 'pomodoro' %}">Pomodoro</a></li>
                <li class="menu-item"><a href="{% url 'respiracao_guiada' %}">Respiração Guiada</a></li>                
                <!--<li class="menu-item"><a href="#quem-somos">Quem Somos</a></li>-->
            </ul>
        </div>
    </div>

    <!-- Conteúdo principal -->
    {% block content %}
    {% endblock %}

    <!-- Rodapé -->
    <footer>
        <div class="footer-content">
            <div class="logo-container">
                <img src="{% static 'images/images_logo/logo.png' %}" alt="Logo">
                <div class="titulo-ano"> © 2024 — 2025</div>
                <a href="{% url 'politicas_privacidade' %}" class="politicas" id="politicas">Termos — Politica de privacidade</a>
            </div>

            <!--   <div class="links-container">
                <div class="institutional">
                    <h4>Institucional</h4>
                    <p>Product</p>
                    <p>Product</p>
                    <p>Product</p>
                </div>

                <div class="support">
                    <h4>Suporte e Ajuda</h4>
                    <p>Feature</p>
                    <p>Feature</p>
                    <p>Feature</p>
                </div>

                <div class="connect">
                    <h4>Conecte-se Conosco</h4>
                    <div class="social-icons">
                        <a href="#">Facebook</a>
                        <a href="#">Instagram</a>
                        <a href="#">LinkedIn</a>
                    </div>
                </div>
            </div>
        --> </div>
    </footer>

    <!-- Scripts -->
    <script>
    // Realizar a busca no menu e retornar os itens que correspondem à consulta (class menu-item)
    function searchMenu(query) {
        const menuItems = document.querySelectorAll('.menu-item a');
    
        // Função para remover acentos e caracteres especiais
        function removeDiacritics(str) {
            return str.normalize('NFD').replace(/[\u0300-\u036f]/g, '').replace(/ç/g, 'c');
        }

        // Remove acentos e palavras irrelevantes da consulta
        const filteredQuery = removeDiacritics(query.toLowerCase())
            .split(' ')
            .filter(word => !["de", "e", "que", "em", "para", "com"].includes(word));

        if (filteredQuery.length === 0) return [];  // Retorna um array vazio se a consulta for vazia

        const results = [];

        menuItems.forEach(item => {
            const itemText = removeDiacritics(item.textContent.toLowerCase());
            if (filteredQuery.some(word => itemText.includes(word))) {
                results.push(item);
            }
        });
        

        return results;
    }

    // Atualizar o dropdown com os resultados da pesquisa
    function updateSearchResults(query) {
        const dropdownOptions = document.getElementById('dropdownOptions');
        dropdownOptions.innerHTML = '';  // Limpa as opções existentes

        const results = searchMenu(query);

        // Limitar o número de resultados a 5 itens (pega os 5 primeiros resultados)
        const limitedResults = results.slice(0, 5);


        if (limitedResults.length > 0) {
            limitedResults.forEach(result => {
                const div = document.createElement('div');
                div.classList.add('option');
                div.innerHTML = result.outerHTML;  // Adiciona o link completo
                div.addEventListener('click', function() {
                    document.getElementById('searchInput').value = '';  // Limpa o campo de pesquisa
                    dropdownOptions.style.display = 'none';  // Esconde o dropdown
                    window.location.href = result.getAttribute('href');  // Direciona para o link do item
                });
                dropdownOptions.appendChild(div);
            });
            dropdownOptions.style.display = 'flex';  // Exibe o dropdown se houver resultados
        } else {
            const noResultDiv = document.createElement('div');
            noResultDiv.classList.add('option');
            noResultDiv.classList.add('no-result');  // Adiciona uma classe específica para a mensagem
            noResultDiv.textContent = 'Nenhum resultado encontrado';  // Mensagem de erro
            dropdownOptions.appendChild(noResultDiv);
            dropdownOptions.style.display = 'flex';  // Exibe o dropdown, mesmo sem resultados
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        const dropdownOptions = document.getElementById('dropdownOptions');
        let selectedIndex = -1; // Índice da opção selecionada

        // Limpar o campo de pesquisa e esconder o dropdown ao carregar a página
        searchInput.value = '';
        dropdownOptions.style.display = 'none';  // Esconde o dropdown        

        // Limpar o campo de pesquisa ao voltar a página
        window.addEventListener('pageshow', function(){
            searchInput.value = '';  // Limpa o campo de pesquisa
            dropdownOptions.style.display = 'none';  // Esconde o dropdown
        });

        // Evento para digitação no campo de pesquisa
        searchInput.addEventListener('input', function() {
            const query = searchInput.value;
            if (query.length === 0) {
                dropdownOptions.style.display = 'none';  // Esconde o dropdown se o campo estiver vazio
            } else {
                updateSearchResults(query);  // Atualiza os resultados conforme a digitação
            }
        });

        // Evento que escuta a tecla pressionada (setas para cima/baixo, Enter)
        searchInput.addEventListener('keydown', function(e) {
            const options = dropdownOptions.querySelectorAll('.option');

            // Se o dropdown não estiver visível, nada acontece
            if (dropdownOptions.style.display === 'none') return;

            // Impedir a navegação dentro do input
            if (e.key === 'ArrowDown' || e.key === 'ArrowUp') {
                e.preventDefault();  // Impede a navegação no input

                // Navegar para baixo
                if (e.key === 'ArrowDown') {
                    if (selectedIndex < options.length - 1) {
                        selectedIndex++;
                    } //else {selectedIndex = 0; // Volta ao início se estiver no final
                    //}
                                        
                }
                // Navegar para cima
                else if (e.key === 'ArrowUp') {
                    if (selectedIndex > 0) {
                        selectedIndex--;
                    } //else {selectedIndex = options.length - 1; // Vai para o final se estiver no início
                    //}
                }

                highlightOption(options, selectedIndex);
            }
            // Selecionar a opção com Enter
            else if (e.key === 'Enter' && selectedIndex !== -1) {
                const selectedOption = options[selectedIndex];
                if (selectedOption) {
                    window.location.href = selectedOption.querySelector('a').getAttribute('href');
                }
            }
        });

        // Função para destacar a opção selecionada
        function highlightOption(options, index) {
            options.forEach(option => option.classList.remove('hover')); // Remove a classe 'hover' de todas
            if (index !== -1) {
                options[index].classList.add('hover'); // Adiciona a classe 'hover' na opção atual
            }
        }

        // Permitir o movimento do cursor entre as opções do dropdown (mouse)
        dropdownOptions.addEventListener('mouseover', function(e) {
            if (e.target.classList.contains('option')) {
                // Remover a classe 'hover' de todas as opções
                dropdownOptions.querySelectorAll('.option').forEach(option => {
                    option.classList.remove('hover');
                });
                // Adicionar a classe 'hover' na opção em que o cursor está
                e.target.classList.add('hover');
                selectedIndex = Array.from(dropdownOptions.children).indexOf(e.target); // Atualiza o índice da opção
            }
        });

        // Fechar o dropdown ao clicar fora
        document.addEventListener('click', function(e) {
            if (!searchInput.contains(e.target) && !dropdownOptions.contains(e.target)) {
                dropdownOptions.style.display = 'none';  // Esconde o dropdown
            }
        });
    });
    </script>

    {% block extra_js %}{% endblock %}
</body>
</html>
