<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="site_sintonize\static\images\images_logo\favicon.ico" type="image/x-icon">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Poppins:wght@400&family=Roboto:wght@400&display=swap"
        rel="stylesheet">
    <title>Teste de Burnout</title>
</head>

<body class="bg-gray-100">
    {% include 'menu.html' %}

    <div class="container mx-auto py-8">
        <div class="form-card max-w-2xl mx-auto bg-white shadow-md rounded-lg overflow-hidden">
            <div id="sessionHeader" class="session-header"></div>
            <div class="p-4 form-content">
                <img src="{% static 'images/forms/formulario.png' %}" alt="Ícone formulário">
                <div class="form-info">
                    <h2
                        style="width: 845.045px; height: 40.567px; flex-shrink: 0; color: var(--Primary-Pressed---500, #204551); font-family: 'Nunito', sans-serif; font-size: 32px; font-style: normal; font-weight: 600; line-height: 125%; letter-spacing: 0.25px;">
                        Identifique sinais respondendo ao formulário.
                    </h2>
                    <form method="post" id="surveyForm">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="question {% if forloop.first %}active{% endif %}"
                            id="question-{{ forloop.counter }}"
                            style="width: 845px; margin-top: 20px; color: #000; font-family: 'Roboto', sans-serif; font-size: 20px; font-style: normal; font-weight: 400; line-height: normal;">
                            <h3 class="text-lg ">{{ field.label }}</h3>
                            <div class="radio-container mt-4">
                                {% for subfield in field %}
                                <label class="radio-label">
                                    {{ subfield.tag }}  <!-- Gera o input de rádio -->
                                    <span class="ml-3">{{ subfield.choice_label }}</span>
                                </label>
                                
                                {% endfor %}
                            </div>

                        </div>
                        {% endfor %}
                        <div class="flex items-center justify-between mt-4">
                            <div class="flex items-center flex-grow mr-4">
                                <div id="progressText" style="margin-right: 10px;"></div>
                                <!-- Alinhar o texto à esquerda -->
                                <div class="progress-bar" style="position: relative;">
                                    <div id="progress" class="progress" style="height: 100%;"></div>
                                </div>
                            </div>
                            <div class="flex space-x-2">
                                <button type="button" id="prevBtn"
                                    class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-700"
                                    onclick="changeQuestion(-1)" style="display: none;">Voltar</button>
                                <button type="button" id="nextBtn" onclick="changeQuestion(1)">Próximo</button>
                                <button type="submit" id="sendBtn" style="display: none;">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        const sessionTitles = [
            "Carga Emocional e Saúde Mental",
            "Exaustão Física e Cansaço",
            "Satisfação e Realização Profissional",
            "Relações e Suporte no Ambiente de Trabalho"
        ];
        const totalQuestions = 17; // Definir 17 perguntas
        let currentQuestion = 0;
        const questions = document.querySelectorAll('.question');


        function changeQuestion(n) {
            questions[currentQuestion].classList.remove('active');
            currentQuestion += n;

            if (currentQuestion >= 0 && currentQuestion < questions.length) {
                questions[currentQuestion].classList.add('active');

                // Atualiza o título da sessão
                const sessionIndex = Math.floor(currentQuestion / (totalQuestions / 4));
                document.getElementById('sessionHeader').innerHTML = `
            <div class="session-title">Seção ${sessionIndex + 1} de 4</div>
            <div class="session-subtitle">${sessionTitles[sessionIndex]}</div>
        `;

                // Atualiza a barra de progresso
                const progressPercentage = ((currentQuestion + 1) / totalQuestions) * 100;
                document.getElementById('progress').style.width = progressPercentage + '%';
                document.getElementById('progressText').textContent = `${currentQuestion + 1}/${totalQuestions}`;

                // Atualiza visibilidade dos botões
                document.getElementById("prevBtn").style.display = currentQuestion === 0 ? 'none' : 'inline';
                document.getElementById("nextBtn").style.display = currentQuestion === totalQuestions - 1 ? 'none' : 'inline';
                document.getElementById("sendBtn").style.display = currentQuestion === totalQuestions - 1 ? 'inline' : 'none';
            }
        }

        changeQuestion(0);


    </script>
</body>

</html>