<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Como é feito o Diagnóstico ?</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/diagnostico.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" rel="stylesheet" />
</head>
<body>
    {% include 'menu.html' %}
    <header>
        <div class="container-burnout">
            <h1 class="titulo-burnout">Como é feito o Diagnóstico ?</h1>
            <p class="subtitulo-burnout">O diagnóstico da Síndrome de Burnout é essencialmente clínico, focando na história do paciente e no seu envolvimento no trabalho.</p>
        </div>
    </header>
</body>
</html>
