<!-- Carregar arquivos estáticos -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<!-- Rodapé -->
<footer>
    <div class="footer-content">
        <div class="logo-container">
            <img src="{% static 'images/images_logo/logo.png' %}" alt="Logo">
            <div class="titulo-ano"> © 2024 — 2025</div>
           <a href="{% url 'politicas_privacidade' %}" class="politicas" id="politicas">Termos — Politica de privacidade</a>
        </div>

      <!--   <div class="links-container">
            <div class="institutional">
                <h4>Institucional</h4>
                <p>Product</p>
                <p>Product</p>
                <p>Product</p>
            </div>

            <div class="support">
                <h4>Suporte e Ajuda</h4>
                <p>Feature</p>
                <p>Feature</p>
                <p>Feature</p>
            </div>

            <div class="connect">
                <h4>Conecte-se Conosco</h4>
                <div class="social-icons">
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                    <a href="#">LinkedIn</a>
                </div>
            </div>
       </div>
   --> </div>
</footer>
