<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sintonize</title>
    <link rel="icon" href="site_sintonize\static\images\images_logo\favicon.ico" type="image/x-icon">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href=<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'menu.html' %}
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 280 1440 866" fill="none">
            <path d="M0 0H1440V780C1440 780 1002.56 866.093 719 866C436.212 865.907 0 780 0 780V0Z" 
                  fill="var(--Primary-Desabled---100)" />
        </svg>
        
        <div class="header-illustration">
            <header>
                <h1 class="Titulo-saude-mental">Priorize Sua Saúde Mental no Trabalho</h1>
                <p class="Texto-saude-mental">Explore recursos e dicas para reduzir o estresse e melhorar seu bem-estar profissional.</p>
                <a href="{% url 'burnout_survey' %}" class="teste-button" id="botao-burnout">Fazer teste de Burnout</a>
            </header>
            
            <div class="illustration">
                <img src="{% static 'images/images_home/health.gif' %}" alt="Ilustração sobre saúde mental">
            </div>
        </div>
    </div>
      <!-- <div class="bem-estar-container">
        <div class="bem-estar"></div>
        <div class="frase-bem-estar">
            <div class="titulo-bem-estar">Bem-Estar e Equilíbrio para Sua Vida</div>
            <div class="subtitulo-bem-estar">O Sintonize é um espaço dedicado à sua saúde mental no ambiente de trabalho. Nossa plataforma auxilia você a reconhecer e gerenciar o estresse, além de oferecer ferramentas práticas para melhorar seu bem-estar e manter o equilíbrio entre vida pessoal e profissional.</div>
        </div>
    </div>

     <div class="cards">
        <div class="card">
            <div class="ilustracao-card">
                <img src="{% static 'images/images_home/autoavaliacao.png' %}" alt="Autoavaliação Inteligente" class="card-image">
            </div>
            <div class="texto-card">
            <div class="titulo-card">Autoavaliação Inteligente</div>
            <div class="subtitulo-card">Um teste prático para identificar sinais de estresse e Burnout, ajudando você a entender seu momento atual.</div>
            <a href="#" class="action-button">Fazer teste</a>
        </div>
    </div>
        <div class="card">
            <div class="ilustracao-card">
                <img src="{% static 'images/images_home/yoga.png' %}" alt="Autocuidado na Prática" class="card-image">
            </div>
            <h3>Autocuidado na Prática</h3>
            <p>Técnicas simples de mindfulness, relaxamento e foco para cuidar de si mesmo.</p>
            <a href="#" class="action-button">Fazer teste</a>
        </div>
        <div class="card">
            <div class="ilustracao-card">
                <img src="{% static 'images/images_home/equilibrio.png' %}" alt="Equilíbrio Vida&Trabalho" class="card-image">
            </div>
            <h3>Equilíbrio Vida&Trabalho</h3>
            <p>Faça o teste e identifique áreas que podem ser ajustadas para melhorar seu bem-estar e qualidade de vida.</p>
            <a href="#" class="action-button">Fazer teste</a>
        </div>
        <div class="card">
            <div class="ilustracao-card">
                <img src="{% static 'images/images_home/ansiedade.png' %}" alt="Avalie sua Ansiedade" class="card-image">
            </div>
            <h3>Avalie sua Ansiedade</h3>
            <p>Faça o teste e avalie seu nível de ansiedade. Identifique sinais e cuide do seu bem-estar emocional.</p>
            <a href="#" class="action-button">Fazer teste</a>
        </div>
    </div> -->
    {% include 'footer.html' %}
</body>
</html>
