{% extends 'base.html' %}
{% load static %}

{% block title %}Sobre o Burnout{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
   
 

    <div class="container">
        <!-- SVG da onda (existente) -->
        <svg class="wave-svg" xmlns="http://www.w3.org/2000/svg" width="1440" height="87" viewBox="0 0 1440 87" fill="none">
            <path d="M0 6.01596V0H1440V6.01596C1440 6.01596 1058 87 722.5 87C376 87 0 6.01596 0 6.01596Z" fill="#BDCCD1"/>
        </svg>
        
        <div class="header-illustration">
            <header>
                <h1 class="Titulo-saude-mental">Priorize Sua Saúde Mental no Trabalho</h1>
                <p class="Texto-saude-mental">Explore recursos e dicas para reduzir o estresse e melhorar seu bem-estar profissional.</p>
                <a href="{% url 'sondagem' %}" class="teste-button" id="botao-burnout">Fazer sondagem de Burnout</a>
            </header>
            
            <div class="illustration">
                <img src="{% static 'images/images_home/health.gif' %}" alt="Ilustração sobre saúde mental">
            </div>
        </div>
    </div>
      <!-- <div class="bem-estar-container">
        <div class="bem-estar"></div>
        <div class="frase-bem-estar">
            <div class="titulo-bem-estar">Bem-Estar e Equilíbrio para Sua Vida</div>
            <div class="subtitulo-bem-estar">O Sintonize é um espaço dedicado à sua saúde mental no ambiente de trabalho. Nossa plataforma auxilia você a reconhecer e gerenciar o estresse, além de oferecer ferramentas práticas para melhorar seu bem-estar e manter o equilíbrio entre vida pessoal e profissional.</div>
        </div>
      </div>

      <div class="cards">
        <div class="card">
            <div class="ilustracao-card">
                <img src="{% static 'images/images_home/autoavaliacao.png' %}" alt="Autoavaliação Inteligente" class="card-image">
            </div>
            <div class="texto-card">
            <div class="titulo-card">Autoavaliação Inteligente</div>
            <div class="subtitulo-card">Um teste prático para identificar sinais de estresse e Burnout, ajudando você a entender seu momento atual.</div>
            <a href="#" class="action-button">Fazer teste</a>
        </div>
    </div>
        <div class="card">
            <div class="ilustracao-card">
                <img src="{% static 'images/images_home/yoga.png' %}" alt="Autocuidado na Prática" class="card-image">
            </div>
            <h3>Autocuidado na Prática</h3>
            <p>Técnicas simples de mindfulness, relaxamento e foco para cuidar de si mesmo.</p>
            <a href="#" class="action-button">Fazer teste</a>
        </div>
        <div class="card">
            <div class="ilustracao-card">
                <img src="{% static 'images/images_home/equilibrio.png' %}" alt="Equilíbrio Vida&Trabalho" class="card-image">
            </div>
            <h3>Equilíbrio Vida&Trabalho</h3>
            <p>Faça o teste e identifique áreas que podem ser ajustadas para melhorar seu bem-estar e qualidade de vida.</p>
            <a href="#" class="action-button">Fazer teste</a>
        </div>
        <div class="card">
            <div class="ilustracao-card">
                <img src="{% static 'images/images_home/ansiedade.png' %}" alt="Avalie sua Ansiedade" class="card-image">
            </div>
            <h3>Avalie sua Ansiedade</h3>
            <p>Faça o teste e avalie seu nível de ansiedade. Identifique sinais e cuide do seu bem-estar emocional.</p>
            <a href="#" class="action-button">Fazer teste</a>
        </div>
    </div> -->
    {% include 'footer.html' %}
</body>
</html>
{% endblock %}