{% load static %}
<div class="navbar">
    <div class="nav-menu">
    
    <div class="brand">
        <a href="{% url 'index' %}">
            <img src="{% static 'images/images_logo/logo.png' %}" alt="Logo">
        </a>  
    </div>
    <ul class="menu">
        <li><a href="{% url 'index' %}">Início</a></li>
        <li><a href="#quem-somos">Quem Somos</a></li>
        <li><a href="#sobre-burnout">Sobre o Burnout</a></li>
        <li><a href="#aprender-mais">Aprenda Mais</a></li>
        <li><a href="{% url 'burnout_survey' %}">Teste de Burnout</a></li>
    </ul>
</div>
</div>
