{% extends 'base.html' %}
{% load static %}

{% block title %}Sobre o Burnout{% endblock %}

{% block content %}
    <div class="pomodoro-svg-background" style="background-image: url('{% static 'images/pomodoro/Rectangle-4436-pomodoro.svg' %}');">

        <header class="pomodoro-focus-text">
        <div class="pomodoro-focus-title">
            <h2>Foque no que importa</h2>
            <div class="pomodoro-decorative-bar"></div>
        </div>
        <p>Use o método Pomodoro para gerenciar melhor seu tempo e aumentar sua produtividade.</p>
    </header>
    </div>

    <!-- Divisor -->
    <div class="pomodoro-divider-section">
        <img src="{% static 'images/pomodoro/Rectangle-4414-pomodoro.png' %}" alt="Divisor" class="pomodoro-divider-image-1">
        <img src="{% static 'images/pomodoro/Rectangle 44141-pomodoro.png' %}" alt="Divisor" class="pomodoro-divider-image-2">
    </div>

   <!-- Pomdoro-timer -->
    <section class="pomodoro-container">
    <div class="pomodoro-timer">
      <nav>
        <!-- Botões superiores -->
        <button id="pomodoro" active="true">Pomodoro</button>
        <button id="short-break">Pausa Curta</button>
        <button id="long-break">Pausa Longa</button>
      </nav>

      <img src="" alt="">

      <!-- Cronômetro -->
      <h1>25:00</h1>

      <!-- Botão start/stop-->
      <button class="action-button" stop="true">START</button>
    </div>
  </section>

  {% endblock %}
  {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pomodoro.css' %}">
  {% endblock %}
  
