{% extends 'base.html' %}
{% load static %}

{% block title %}Trilha de Conhecimento{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/trilha.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/trilha.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-sintomas">
  <div class="texto-sintomas">
    <h1>Principais Sintomas</h1>
    <p>O Burnout se desenvolve aos poucos, de maneira gradativa, começando de forma leve e se intensificando ao longo do tempo. Fique atento aos sinais:</p>
  </div>

  <div class="principais-sintomas">
    <div class="sintomas-grid">
      <div class="sintoma-bloco">
        <div class="icone-titulo">
          <img src="{% static 'images/trilha/brain.png' %}" alt="Distanciamento" class="icone-img">
          <span class="titulo-sintoma">Distanciamento Mental do Trabalho:</span>
        </div>
        <ul>
          <li>Indiferença ou apatia</li>
          <li>Falta de motivação e prazer na rotina profissional</li>
          <li>Postura cínica ou alienada</li>
        </ul>
      </div>
    
      <div class="sintoma-bloco">
        <div class="icone-titulo">
          <img src="{% static 'images/trilha/BatteryLow.png' %}" alt="Falta de Energia" class="icone-img">
          <span class="titulo-sintoma">Falta de energia e exaustão:</span>
        </div>
        <ul>
          <li>Cansaço extremo, mesmo após descanso</li>
          <li>Sensação de estar no limite, sem energia</li>
        </ul>
      </div>
      
    
      <div class="sintoma-bloco">
        <div class="icone-titulo">
          <img src="{% static 'images/trilha/vector1.png' %}" alt="Redução de Eficácia" class="icone-img">
          <span class="titulo-sintoma">Redução de Eficácia Profissional:</span>
        </div>
        <ul>
          <li>Queda de produtividade</li>
          <li>Dificuldade de concentração e memória</li>
          <li>Sensação de incompetência</li>
        </ul>
      </div>
    
      <div class="sintoma-bloco">
        <div class="icone-titulo">
          <img src="{% static 'images/trilha/vector2.png' %}" alt="Sintomas Físicos" class="icone-img">
          <span class="titulo-sintoma">Sintomas Físicos:</span>
        </div>
        <ul>
          <li>Dores musculares e tensão</li>
          <li>Distúrbios do sono</li>
          <li>Alterações no apetite e libido</li>
        </ul>
      </div>
    </div>
<div class="diagnostico-section">
  <h2>Como é Feito o Diagnóstico?</h2>
  <p>O Burnout é diagnosticado por psicólogos ou psiquiatras, que avaliam seu histórico, rotina de trabalho e sintomas.<br>
  Muitas vezes, as pessoas demoram a procurar ajuda por subestimarem os sinais. Mas um diagnóstico precoce faz toda a diferença na recuperação.</p>
</div>
</div>
<div class="svg-container1">
  <svg xmlns="http://www.w3.org/2000/svg" width="1440" height="160" viewBox="0 0 1440 160" fill="none">
    <path d="M0 159.981C0 159.981 148.6 126.86 245 119.097C431.726 104.061 535.847 158.78 723 159.981C925.347 161.281 1038.75 94.159 1240 119.097C1318.83 128.865 1440 159.981 1440 159.981V0H0L0 159.981Z" fill="#FEFEFE"/>
  </svg>
</div>

{% endblock %}