{% extends 'base.html' %}
{% load static %}

{% block title %}Respiração Guiada{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/trilha.css' %}">

{% endblock %}

{% block content %}
<div class="container-sintomas">
  <div class="texto-sintomas">
    <h1>Principais Sintomas</h1>
    <p>O Burnout se desenvolve aos poucos, de maneira gradativa, começando de forma leve e se intensificando ao longo do tempo. Fique atento aos sinais:</p>
  </div>

  <div class="principais-sintomas">
    <div class="sintomas-grid">
      <div class="sintoma-bloco">
        <img src="{% static 'images/trilha/brain.png' %}" alt="Distanciamento" class="icone-img">
        <h3>Distanciamento Mental do Trabalho</h3>
        <ul>
          <li>Indiferença ou apatia</li>
          <li>Falta de motivação e prazer na rotina profissional</li>
          <li>Postura cínica ou alienada</li>
        </ul>
      </div>
    
      <div class="sintoma-bloco">
        <img src="{% static 'images/trilha/BatteryLow.png' %}" alt="Falta de Energia" class="icone-img">
        <h3>Falta de energia e exaustão</h3>
        <ul>
          <li>Cansaço extremo, mesmo após descanso</li>
          <li>Sensação de estar no limite, sem energia</li>
        </ul>
      </div>
    
      <div class="sintoma-bloco">
        <img src="{% static 'images/trilha/vector1.png' %}" alt="Redução de Eficácia" class="icone-img">
        <h3>Redução de Eficácia Profissional</h3>
        <ul>
          <li>Queda de produtividade</li>
          <li>Dificuldade de concentração e memória</li>
          <li>Sensação de incompetência</li>
        </ul>
      </div>
    
      <div class="sintoma-bloco">
        <img src="{% static 'images/trilha/vector2.png' %}" alt="Sintomas Físicos" class="icone-img">
        <h3>Sintomas Físicos</h3>
        <ul>
          <li>Dores musculares e tensão</li>
          <li>Distúrbios do sono</li>
          <li>Alterações no apetite e libido</li>
        </ul>
      </div>
    </div>
    
    
  </div>
</div>
{% endblock %}