footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background: var(--Neutral-colors-White-Colors-200, #FDFDFD);
    position: static;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1278px;
    padding: 10px 0;
    align-items: flex-start;
    flex: 1 0 0;
    flex-wrap: wrap;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 15px;
    gap: 10px;
    flex-basis: 100%;
}

.logo-container a {
    text-decoration: none;
    color: #000;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: left;
        padding: 10px;
    }
}

@media (max-width: 540px) {
    .footer-content {
        padding: 5px;
    }

    .logo-container {
        padding: 15px 5px;
    }

    .logo-container a {
        font-size: 14px;
        font-family: 'Roboto';
    }
} 