body {
    background-color: #F3F4F6;
}

.container {
    background-color: #F3F4F6;
}

.session-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1411px;
    height: 72px;
    padding: 16px 64px;
    border-radius: 24px 24px 0 0;
    background: #BDCCD1;
    color: var(--Neutral-colors-Black-Colors-400, #292B2F);
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 133%;
}


/* Estilo para o título da seção */
.session-title {
    margin-right: 10px;
    /* Pode ser ajustado conforme necessário */
}

/* Estilo para o subtítulo da seção */
.session-subtitle {
    width: 729px;
    flex-shrink: 0;
    color: var(--Neutral-colors-Black-Colors-400, #292B2F);
    text-align: center;
    font-family: 'Nunito';
    font-size: 32px;
    font-weight: 700;
    line-height: 125%;
    display: flex;
    align-items: left;
}


.question {
    display: none;
}

.question.active {
    display: block;
    width: 845px;
    margin-top: 20px;
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.radio-container {
    display: flex;
    width: 845px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-spacing-4-spacing-3, 12px);
}

.radio-label {
    display: flex;
    width: 845px;
    height: var(--6, 48px);
    padding: 12px 10px 12px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #B7BAC1;
    background: rgba(254, 254, 254, 0.50);
    backdrop-filter: blur(2px);
}

.form-content .radio-container .radio-label input[type="radio"] {
    width: 20px;
    height: 20px;
}

.radio-input {
    display: none;
}

.radio-input:checked+span::before {
    background-color: #204551;
    border-color: #204551;
}


.form-card {
    width: 100%;
    max-width: 1411px;
    height: 712px;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: white;
    fill: var(--Neutral-colors-White-Colors-100, #FEFEFE);
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(2px);
}

.form-content {
    display: flex;
    align-items: flex-start;
    /* Alinha ao topo */
}

.form-content img {
    max-width: 40%;
    margin-right: 10px;
}

.form-info {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
    margin-left: -20px;
}

/* Estilo de título */
.form-info h2 {
    margin: 0;
    width: 845.045px;
    height: 40.567px;
    flex-shrink: 0;
    color: var(--Primary-Pressed---500, #204551);
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.25px;
}


.progress-bar-container {
    display: flex;
    width: 443px;
    height: 21px;
    padding-right: 14px;
    align-items: center;
    flex-shrink: 0;
}

.progress-bar {
    width: 383px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
}


.progress {

    left: 59px;
    top: 4px;
    border-radius: 10px;
    background: var(--Primary-Pressed---500, #204551);
}

#progressText {
    width: 51px;
    flex-shrink: 0;
    color: #36454F;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#prevBtn {
    display: flex;
    width: 143px;
    height: 56px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--spacing-spacing-4-spacing-3, 12px);
    border: 1.4px solid var(--Primary-Defaunt---400, #3A6573);
    background: transparent;
    color: var(--Primary-Defaunt---400, #3A6573);
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Poppins';
    font-size: 19.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


#prevBtn:hover,
#nextBtn:hover,
#sendBtn:hover {
    transform: scale(1.05);
}

#prevBtn,
#nextBtn,
#sendBtn {
    transition: background-color 0.3s, transform 0.2s;
}

#nextBtn {
    display: flex;
    width: 143px;
    height: 56px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #3A6573;
    box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.08);
    color: var(--gray-scale-white-white, #FFF);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Nunito';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%;
}

#nextBtn:hover,
#sendBtn:hover {
    background: #2e5256;
}

#sendBtn {
    display: flex;
    width: 143px;
    height: 56px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #3A6573;
    box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.08);
    color: var(--gray-scale-white-white, #FFF);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Nunito';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%;
    position: relative;

}

/* Regra geral para quando há erro - funciona em todas as telas */
.form-card.with-error-padding .button-footer-mobile {
    bottom: 30px !important;
    transition: bottom 0.3s ease;
}

/* Estilos gerais para telas pequenas */
@media (max-width: 1440px) {
    .radio-container {
        display: flex;
        width: 40%;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-spacing-4-spacing-3, 12px);
    }

    .radio-label {

        width: 745px;
    }

    .form-info {

        flex-direction: column;
        /* Para empilhar elementos verticalmente */
        width: 594px;
        /* Ajuste conforme necessário */

        justify-content: flex-start;
        /* Alinha ao topo */
        margin-left: -40px;
        /* Para puxar a form-info mais próxima da imagem */

    }

    .text-lg {
        color: #000;
        font-family: 'Roboto';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 745px;
    }

    .question.active {
        display: block;
        width: 745px;
        text-align: left;
    }

}

@media (max-width: 1024px) {
    .form-card {
        width: 100%;
        max-width:980px;
    }
  
    .form-info h2 {
        font-family: 'Nunito';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 115%;
        letter-spacing: 0.25px;
        width: 100%;
        height: auto;
        text-align: left;
    }

    .question.active {
        display: block;
        width: 600px;
        text-align: left;
    }

    .progress-bar-container {
        margin-left: -20px;
    }

    .progress-bar {
        width: 100%;
        height: 12px;
        min-width: 220px;
     
    }

    #prevBtn, #nextBtn, #sendBtn {
        width: 90px;
        height: 48px;
        padding: 10px 16px;
        font-size: 16px;
    }

    .button-footer-mobile { 
       margin-left:50px;
        bottom: 80px;
        display: flex;
        width: 200px;
        height: 48px;
        justify-content: center !important;
        align-items: center;
        gap: 8px;        
    }

    .radio-container{
        width: 515px;
    }

    .radio-label {
        width: 100%;
        max-width: 515px;
    }
}


/* Estilos gerais para telas pequenas */


@media (max-width: 912px) {
    .session-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 5%;
        display: none;
    }

    .session-title {
        font-size: 20px;
    }

    .session-subtitle {
        font-size: 24px;
        width: 100%;
    }

    .radio-label {
        width: 100%;
    }

    .form-card {
        padding: 10px;
    }

    .form-content img {
        display: none;
    }

    .form-info {
        width: 100%;
        margin-left: 0;
    }

  
    .radio-container {
        width: 100%;
        max-width: 780px;
    }

    .radio-label {
        width: 100%;
        max-width: 780px;
        height: 56px;
        padding: 16px 18px;
        font-size: 18px;
    }

    .form-info h2 {
        font-family: 'Nunito';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 115%;
        letter-spacing: 0.25px;
        width: 100%;
        height: auto;
        text-align: left;
    }

    .question.active {
        display: block;
        width: 645px;
        text-align: left;
    }

    .progress-bar {
        width: 100%;
        height: 12px;
        min-width: 340px;
     
    }
 
    .button-footer-mobile {
      
        width: 240px;
        align-items: left;
        gap: 10px;        
    }
}


@media (max-width: 768px) {



    .radio-container {
        width: 100%;
        max-width: 680px;
    }

    .radio-label {
        width: 100%;
        max-width: 680px;
        height: 56px;
        padding: 16px 18px;
        font-size: 18px;
    }

    .progress-bar {
        width: 100%;
        height: 12px;
        min-width: 380px;
     
    }
 
    .button-footer-mobile {
        padding-left:10px;
        width: 240px;
        align-items: left;
        gap: 10px;        
    }
}

/* Estilos para o cabeçalho do formulário */


.header-title-forms {
    color: var(--Primary-Pressed---500, #204551);
    text-align: center;
    font-family: 'Mulish';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    align-self: stretch;
    gap: 25px;
}

.header-description {
    color: var(--Neutral-colors-Black-Colors-200, #3B3E43);
    text-align: center;
    font-family: 'Nunito';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    align-self: stretch;
    gap: 60px;
}

.header-wrapper {
    background: #F3F4F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.header-container {
    max-width: 1442px;
    margin: 0 auto;
    position: relative;
    margin-top: 182px;
}

.orange-border {
    width: 111px;
    height: 6px;
    border-radius: 4px;
    background-color: #F8b49d;
    margin: 15px auto;
    gap: 41px;
}

.container {
    background-color: #F3F4F6;
}

@media (max-width:540px) {
    .session-header {
        display: none;
    }

    .form-info h2 {
        font-family: 'Nunito';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 115%;
        letter-spacing: 0.25px;
        width: 100%;
        height: auto;
        text-align: left;
    }

    .question.active {
        display: block;
        width: 445px;
        text-align: left;
    }

    .progress-bar {
        width: 100%;
        height: 12px;
        min-width: 320px;
     
    }

    .button-footer-mobile {
        position:fixed;
       left: 280px;
        bottom: 70px;
        display: flex;
        width: 183px;
        height: 56px;
        justify-content: center !important;
        align-items: center;
        gap: 10px;        
    }
}

@media (max-width:430px){

    .form-card {
        height: auto;
        min-height: 800px;
        padding-bottom: 50px;
        /* Adiciona mais espaço para acomodar mensagem de erro */
    }

    .question.active {
        display: block;
        width: 345px;
        text-align: left;
    }

    .progress-bar-container {
        width: 100%;
        min-width: 0;
        padding-right: 0;
    }

    .progress-bar {
        width: 100%;
        height: 12px;
        min-width: 265px;
     
    }

    #progressText {
        width: auto;
        font-size: 16px;
    }

    .button-footer-mobile {
        position: fixed;
        left: 160px;
        bottom: 100px;
        display: flex;
        width: 183px;
        height: 56px;
        justify-content: center !important;
        align-items: center;
        gap: 10px;        
        transition: bottom 0.3s ease;
    }

    /* Quando há mensagem de erro, o botão desce mais */
    .form-card.with-error-padding .button-footer-mobile {
        bottom: 90px !important;
        transition: bottom 0.3s ease;
    }

@media (max-width: 375px) {

    .question.active {
        display: block;
        width: 300px;
        text-align: left;
    }

    .progress-bar-container {
        width: 100%;
        min-width: 0;
        padding-right: 0;
    }

    .progress-bar {
        width: 100%;
        height: 12px;
        min-width: 200px;
     
    }
  }


@media (max-width: 540px) {

    .header-title-forms {
        display: flex;
        width: 360px;
        flex-direction: column;
        align-items: center;

    }

    .header-description {
        color: var(--Neutral-colors-Black-Colors-200, #3B3E43);
        font-family: 'Mulish';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        width: 340px;
        height: 192px;
        text-align: justify;
    }
}