body {
    background-color: #F3F4F6;
}

.container {
    background-color: #F3F4F6;
    padding: 0 10px 80px 10px;
    box-sizing: border-box;
}

.session-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1411px;
    height: 72px;
    padding: 16px 64px;
    border-radius: 24px 24px 0 0;
    background: #BDCCD1;
    color: var(--Neutral-colors-Black-Colors-400, #292B2F);
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 133%;
    box-sizing: border-box;
}

/* Estilo para o título da seção */
.session-title {
    margin-right: 10px;
    /* Pode ser ajustado conforme necessário */
}

/* Estilo para o subtítulo da seção */
.session-subtitle {
    width: 100%;
    max-width: 729px;
    flex-shrink: 0;
    color: var(--Neutral-colors-Black-Colors-400, #292B2F);
    text-align: center;
    font-family: 'Nunito';
    font-size: 32px;
    font-weight: 700;
    line-height: 125%;
    display: flex;
    align-items: left;
}

.question {
    display: none;
}

.question.active {
    display: block;
    width: 100%;
    max-width: 845px;
    margin-top: 20px;
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
}

.radio-container {
    display: flex;
    width: 100%;
    max-width: 845px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-spacing-4-spacing-3, 12px);
    box-sizing: border-box;
}

.radio-label {
    display: flex;
    width: 100%;
    max-width: 845px;
    height: var(--6, 48px);
    padding: 12px 10px 12px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid #B7BAC1;
    background: rgba(254, 254, 254, 0.50);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-sizing: border-box;
}

.form-content .radio-container .radio-label input[type="radio"] {
    width: 20px;
    height: 20px;
    /* Safari fix - garante que não sobrepõe o modal */
    position: relative;
    z-index: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.radio-input {
    display: none;
}

.radio-input:checked+span::before {
    background-color: #204551;
    border-color: #204551;
}

.form-card {
    width: 100%;
    max-width: 1411px;
    min-height: 712px;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: white;
    fill: var(--Neutral-colors-White-Colors-100, #FEFEFE);
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));
    backdrop-filter: blur(2px);
    margin: 0 auto 60px auto;
    padding: 20px 20px 60px 20px;
    box-sizing: border-box;
}

.form-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.form-content img {
    max-width: 40%;
    margin-right: 10px;
    height: auto;
}

.form-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-start;
    margin-left: -20px;
    box-sizing: border-box;
}

/* Estilo de título */
.form-info h2 {
    margin: 0;
    width: 100%;
    max-width: 845px;
    height: auto;
    flex-shrink: 0;
    color: var(--Primary-Pressed---500, #204551);
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.25px;
    box-sizing: border-box;
}

.progress-bar-container {
    display: flex;
    width: 443px;
    height: 21px;
    align-items: center;
    gap: var(--1, 8px);
    flex-shrink: 0;
    box-sizing: border-box;
    margin-bottom: 0;
}

.progress-and-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 845px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.progress-bar {
    width: 383px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
}

.progress {
    left: 59px;
    top: 4px;
    border-radius: 10px;
    background: var(--Primary-Pressed---500, #204551);
}

#progressText {
    width: 51px;
    flex-shrink: 0;
    color: #36454F;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#prevBtn {
    display: flex;
    width: 143px;
    height: 56px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--spacing-spacing-4-spacing-3, 12px);
    border: 1.4px solid var(--Primary-Defaunt---400, #3A6573);
    background: transparent;
    color: var(--Primary-Defaunt---400, #3A6573);
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Poppins';
    font-size: 19.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
}

#prevBtn:hover,
#nextBtn:hover,
#sendBtn:hover {
    transform: scale(1.05);
}

#prevBtn,
#nextBtn,
#sendBtn {
    transition: background-color 0.3s, transform 0.2s;
}

#nextBtn {
    display: flex;
    width: 143px;
    height: 56px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #3A6573;
    box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.08);
    color: var(--gray-scale-white-white, #FFF);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Nunito';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%;
    box-sizing: border-box;
}

#nextBtn:hover,
#sendBtn:hover {
    background: #2e5256;
}

#sendBtn {
    display: flex;
    width: 143px;
    height: 56px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #3A6573;
    box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.08);
    color: var(--gray-scale-white-white, #FFF);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Nunito';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%;
    position: relative;
    box-sizing: border-box;
}

.button-footer-mobile {
    display: flex;
    gap: 10px;
    margin-top: 0;
    justify-content: flex-end;
    align-items: center;
    width: auto;
}

/* Regra geral para quando há erro - funciona em todas as telas */
.form-card.with-error-padding .button-footer-mobile {
    bottom: 30px !important;
    transition: bottom 0.3s ease;
}

/* Estilos gerais para telas pequenas */

@media (min-width: 1441px) {
 
    .container {
        max-width: 1411px;
    }
}
@media (max-width: 1440px) {
    .form-content {
        padding: 35px;
        max-width: 1300px;
    }

    .radio-container {
        display: flex;
        width: 100%;
        max-width: 745px;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-spacing-4-spacing-3, 12px);
    }

    .radio-label {
        width: 100%;
        max-width: 745px;
    }

    .form-info {
        flex-direction: column;
        width: 60%;
        justify-content: flex-start;
        margin-left: -40px;
    }

    .text-lg {
        color: #000;
        font-family: 'Roboto';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 100%;
        max-width: 745px;
    }

    .question.active {
        display: block;
        width: 100%;
        max-width: 745px;
        text-align: left;
    }
}


@media (max-width: 1279px) {
    .progress-and-button-container {
        max-width: 100%;
        width: 100%;
    }

    .button-footer-mobile {
        position: fixed; /* ou absolute, dependendo do layout */
        bottom: 20px; /* Ajuste conforme necessário */
        left: 80%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 240px;
        gap: 10px;
        z-index: 10; /* Certifique-se de que está acima de outros elementos */
    }
}

@media (max-width: 1050px) {
    .form-content {
        padding: 30px;
        max-width: 980px;
        padding: 15px 15px 50px 15px;
        margin-bottom: 50px;
    }
  
    .form-info h2 {
        font-family: 'Nunito';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 115%;
        letter-spacing: 0.25px;
        width: 100%;
        height: auto;
        text-align: left;
    }

    .question.active {
        display: block;
        width: 100%;
        max-width: 600px;
        text-align: left;
    }

    .progress-bar-container {
        width: 100%;
        max-width: 443px;
        margin-left: 0;
    }

    .progress-bar {
        width: 100%;
        max-width: 383px;
        height: 12px;
        min-width: 300px;
    }

    #prevBtn, #nextBtn, #sendBtn {
        width: 90px;
        height: 48px;
        padding: 10px 16px;
        font-size: 16px;
    }

    .progress-and-button-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .button-footer-mobile { 
        margin-left: 0;
        bottom: 100px;
        display: flex;
        width: 100%;
        max-width: 200px;
        height: 48px;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;        
    }

    .radio-container {
        width: 100%;
        max-width: 515px;
    }

    .radio-label {
        width: 100%;
        max-width: 515px;
    }
}



@media (max-width: 912px) {
    .session-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 5%;
        display: none;
    }

    .session-title {
        font-size: 20px;
    }

    .session-subtitle {
        font-size: 24px;
        width: 100%;
    }

    .radio-label {
        width: 100%;
    }

    .form-card {
        padding: 15px 15px 50px 15px;
        margin-bottom: 40px;
    }

    .form-content {
        flex-direction: column;
    }

    .form-content img {
        display: none;
    }

    .form-info {
        width: 100%;
        margin-left: 0;
    }

    .radio-container {
        width: 100%;
        max-width: 780px;
    }

    .radio-label {
        width: 100%;
        max-width: 780px;
        height: 56px;
        padding: 16px 18px;
        font-size: 18px;
    }

    .form-info h2 {
        font-family: 'Nunito';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 115%;
        letter-spacing: 0.25px;
        width: 100%;
        height: auto;
        text-align: left;
    }

    .question.active {
        display: block;
        width: 100%;
        max-width: 645px;
        text-align: left;
    }

    .progress-bar-container {
        width: 100%;
        max-width: 400px;
    }

    .progress-bar {
        width: 100%;
        height: 12px;
        min-width: 280px;
        max-width: 350px;
    }
 
    .progress-and-button-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .button-footer-mobile {
        width: 100%;
        max-width: 240px;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;     
        bottom:130px;   
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 5px 60px 5px;
    }

    .form-card {
        padding: 10px 10px 40px 10px;
        margin-bottom: 30px;
    }

    .radio-container {
        width: 100%;
        max-width: 680px;
    }

    .radio-label {
        width: 100%;
        max-width: 680px;
        height: 56px;
        padding: 16px 18px;
        font-size: 18px;
    }

    .progress-bar-container {
        width: 100%;
        max-width: 350px;
    }

    .progress-bar {
        width: 100%;
        height: 12px;
        min-width: 400px;
        max-width: 300px;
    }
 
    .progress-and-button-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .button-footer-mobile {
        padding-left: 0;
        width: 100%;
        max-width: 240px;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;    
        bottom:60px;     
    }
}

/* Estilos para o cabeçalho do formulário */
.header-title-forms {
    color: var(--Primary-Pressed---500, #204551);
    text-align: center;
    font-family: 'Mulish';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    align-self: stretch;
    gap: 25px;
}

.header-description {
    color: var(--Neutral-colors-Black-Colors-200, #3B3E43);
    text-align: center;
    font-family: 'Nunito';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    align-self: stretch;
    gap: 60px;
    margin-bottom: 30px;
}

.header-wrapper {
    background: #F3F4F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.header-container {
    max-width: 1442px;
    margin: 0 auto;
    position: relative;
    margin-top: 182px;
    padding: 0 20px;
    box-sizing: border-box;
}

.orange-border {
    width: 111px;
    height: 6px;
    border-radius: 4px;
    background-color: #F8b49d;
    margin: 15px auto;
    gap: 41px;
}

@media (max-width: 540px) {
    .session-header {
        display: none;
    }

    .container {
        padding: 0 5px 80px 5px;
    }

    .form-card {
        padding: 10px 10px 50px 10px;
        margin-bottom: 40px;
    }

    .form-info h2 {
        font-family: 'Nunito';
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 115%;
        letter-spacing: 0.25px;
        width: 100%;
        height: auto;
        text-align: left;
    }

    .question.active {
        display: block;
        width: 100%;
        max-width: 445px;
        text-align: left;
    }

    .progress-bar-container {
        width: 100%;
        max-width: 320px;
    }

    .progress-bar {
        width: 100%;
        height: 12px;
        min-width: 220px;
        max-width: 280px;
    }

    .progress-and-button-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .button-footer-mobile {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 70px;
        display: flex;
        width: 183px;
        height: 56px;
        justify-content: center !important;
        align-items: center;
        gap: 10px;        
    }

    .header-title-forms {
        display: flex;
        width: 100%;
        max-width: 360px;
        flex-direction: column;
        align-items: center;
        font-size: 32px;
    }

    .header-description {
        color: var(--Neutral-colors-Black-Colors-200, #3B3E43);
        font-family: 'Mulish';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        width: 100%;
        max-width: 340px;
        height: 192px;
        text-align: justify;
    }
}

@media (max-width: 430px) {
    .form-card {
        height: auto;
        min-height: 800px;
        padding: 15px 10px 80px 10px;
    }

    .question.active {
        display: block;
        width: 100%;
        max-width: 345px;
        text-align: left;
    }

    .progress-bar-container {
        width: 100%;
        min-width: 0;
        padding-right: 0;
    }

    .progress-bar-container {
        width: 100%;
        max-width: 300px;
    }

    .progress-bar {
        width: 100%;
        height: 12px;
        min-width: 200px;
        max-width: 260px;
    }

    #progressText {
        width: auto;
        font-size: 16px;
    }

    .progress-and-button-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .button-footer-mobile {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 100px;
        display: flex;
        width: 183px;
        height: 56px;
        justify-content: center !important;
        align-items: center;
        gap: 10px;        
        transition: bottom 0.3s ease;
    }

    /* Quando há mensagem de erro, o botão desce mais */
    .form-content.with-error-padding .button-footer-mobile {
        bottom: 90px !important;
        transition: bottom 0.3s ease;
    }
}

@media (max-width: 375px) {
    .container {
        padding: 0 5px 100px 5px;
    }

    .form-card {
        padding: 10px 5px 60px 5px;
        margin-bottom: 50px;
    }

    .question.active {
        display: block;
        width: 100%;
        max-width: 300px;
        text-align: left;
    }

    .progress-bar-container {
        width: 100%;
        min-width: 0;
        padding-right: 0;
    }

    .progress-bar-container {
        width: 100%;
        max-width: 280px;
    }

    .progress-bar {
        width: 100%;
        height: 12px;
        min-width: 180px;
        max-width: 230px;
    }

    .radio-container {
        width: 100%;
    }

    .radio-label {
        width: 100%;
        padding: 12px 10px;
        font-size: 16px;
    }

    .header-title-forms {
        font-size: 28px;
        width: 100%;
        max-width: 320px;
    }

    .header-description {
        font-size: 16px;
        width: 100%;
        max-width: 300px;
    }
}