/* Estilos Globais */
* {
    box-sizing: border-box; /* Inclui padding e borda na largura/altura total */
}

:root {
    --Primary-Pressed---500: #204551;
    --Primary-Desabled---100: #BDCCD1; 
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

/* Estilo do Container */
.container {
    width: 100%;
    height: auto; /* Ou uma altura mínima, se necessário */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}


/* Estilos de SVG */
svg {
    position: absolute; 
    top: 0; /* Ajuste aqui conforme necessário */
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0; 
    object-fit: cover;
}



/* Estilos do Cabeçalho */
.header-illustration {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    z-index: 1; /* Acima do SVG */
    justify-content: center;
    margin-top: -150px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1; /* Acima do SVG */
}

/* Títulos */
.Titulo-saude-mental {
    width: 523px;
    align-self: stretch;
    font-family: 'Nunito';
    font-size: 64px;
    font-weight: 700;
    line-height: 125%;
    margin-top: -20px;
    letter-spacing: -0.5px;
    background: linear-gradient(180deg, #265361 0%, #234C59 51.01%, #204551 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Texto */
.Texto-saude-mental {
    width: 513px;
    color: var(--Primary-Pressed---500, #204551); 
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    margin-top: -20px;
}

/* Estilos do Botão */
.teste-button {
    display: inline-flex;
    padding: 16px 28px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid var(--Primary-Pressed---500, #204551); 
    background: var(--Primary-Pressed---500, #204551); 
    font-family: 'Poppins';
    font-size: 19.2px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.teste-button:hover {
    background-color: #265361;
}

/* Estilo da Ilustração */
.illustration {
    max-width: 700px; 
    width: 100%;
    height: auto;
    right: 80px;
    margin-top: -80px;
}

@media (max-width: 1440px) {
    svg {
        height: auto; /* Para ajustar a altura em dispositivos menores */
        max-height:866px; /* Limita a altura no viewport */
       
        width: 1440px;
    }

    .illustration {
        max-width: 500px; 
        width: 100%;
        height: auto;
        right: 80px;
        margin-top: -80px;
    }
}

/* Estilos do Menu */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BDCCD1; /* Cor de fundo semelhante à imagem */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2; /* Acima do SVG */
}

.brand h2 {
    font-family: 'Nunito', sans-serif;
    color: #204551; /* Cor do texto */
    margin: 0;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px; /* Espaçamento entre os itens do menu */
    margin: 0;
    padding: 0;
}

.menu li a {
    text-decoration: none;
    color: #204551; /* Cor do texto */
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Peso da fonte */
}

.menu li a:hover {
    color: #265361; /* Cor do texto ao passar o mouse */
}
