/* Estilos Globais */
* {
    box-sizing: border-box;
    /* Inclui padding e borda na largura/altura total */
}

:root {
    --Primary-Pressed---500: #204551;
    --Primary-Desabled---100: #BDCCD1;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

/* Estilo do Container */
.container {
    width: 100%;
    height: auto;
    /* Ou uma altura mínima, se necessário */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}


/* Estilos de SVG */
svg {
    position: absolute;
    top: 0;
    /* Ajuste aqui conforme necessário */
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    object-fit: cover;
}



/* Estilos do Cabeçalho */
.header-illustration {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    z-index: 1;
    /* Acima do SVG */
    justify-content: center;
    margin-top: -150px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    /* Acima do SVG */
}

/* Títulos */
.Titulo-saude-mental {
    width: 523px;
    align-self: stretch;
    font-family: 'Nunito';
    font-size: 64px;
    font-weight: 700;
    line-height: 125%;
    margin-top: -20px;
    letter-spacing: -0.5px;
    background: linear-gradient(180deg, #265361 0%, #234C59 51.01%, #204551 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Texto */
.Texto-saude-mental {
    width: 513px;
    color: var(--Primary-Pressed---500, #204551);
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    margin-top: -20px;
}

/* Estilos do Botão */
.teste-button {
    display: inline-flex;
    padding: 16px 28px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid var(--Primary-Pressed---500, #204551);
    background: var(--Primary-Pressed---500, #204551);
    font-family: 'Poppins';
    font-size: 19.2px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.teste-button:hover {
    background-color: #265361;
}

/* Estilo da Ilustração */
.illustration {
    max-width: 700px;
    width: 100%;
    height: auto;
    right: 80px;
    margin-top: -80px;
}

@media (max-width: 1440px) {
    svg {
        height: auto;
        /* Para ajustar a altura em dispositivos menores */
        max-height: 866px;
        /* Limita a altura no viewport */

        width: 1440px;
    }

    .illustration {
        max-width: 500px;
        width: 100%;
        height: auto;
        right: 80px;
        margin-top: -80px;
    }
}


.bem-estar-container {
    display: flex;
    height: 123px;
    align-items: center;
   
    /* Alinha verticalmente os itens no centro */
    padding: 20px;


    /* Adiciona um pouco de espaço ao redor */
    justify-content: center;
    flex-shrink: 0;
}

.bem-estar {
    width: 124px;
    height: 6px;
    transform: rotate(-90deg);
    border-radius: 4px;
    background: #F8B490;
}

.frase-bem-estar {
    display: flex;
    width: 1249px;
    height: 133px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--4, 32px);
    flex-shrink: 0;
    margin-top: 0; /* Remova qualquer margem superior */
    margin-bottom: 0; /* Remova ou ajuste para 0 conforme necessário */
    
    
}

.titulo-bem-estar {
    height: 41px;
    flex-shrink: 0;
    align-self: stretch;
    color: var(--Primary-Pressed---500, #204551);
    font-family: 'Mulish';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    
}

.subtitulo-bem-estar {
    color: var(--Primary-Pressed---500, #204551);
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 32px */
    letter-spacing: 0.15px;
    align-self: stretch;
 */
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Para quebrar em vários locais em telas menores */
    gap: 20px;
    /* Espaçamento entre os cartões */
}

.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(25% - 20px);
    /* Quatro cartões na linha */
    box-sizing: border-box;
    min-width: 250px;
    /* Tamanho mínimo do cartão */
}

.card h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--Primary-Pressed---500, #204551);
}

.card p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
    color: #555;
    /* Cor do texto dos cartões */
}

.action-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--Primary-Pressed---500, #204551);
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.action-button:hover {
    background-color: #265361;
    /* Cor do botão ao passar o mouse */
}

@media (max-width: 1280px) {
    .bem-estar-container {
        flex-direction: column; /* Se você quiser empilhar os itens verticalmente em telas menores */
        align-items: center; /* Centraliza os itens verticalmente */
        width: 100%;
        justify-content: center;
    }
}


@media (max-width: 768px) {
    .card {
        width: 100%;
        /* Cartões ocupam 100% em telas menores */
    }
}