/* Estilos do Menu */
.navbar {
    display: flex;
    width: 100%;
    padding: 16px var(--10, 80px);
    align-items: center;
    gap: 10px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(2px);
    position: relative;
    /* Certifique-se que está definido para que o z-index funcione */
    z-index: 1;
    /* Um valor menor para garantir que o dropdown apareça à frente */
}

.nav-menu {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: relative;
    /* Para garantir que o z-index funcione */
    z-index: 1;
    /* Um valor menor também */

}

.menu {
    list-style: none;
    display: flex;
    gap: var(--5, 40px);
    margin: 0;
    padding: 0;
}

.menu li a {
    text-decoration: none;
    color: #204551;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

.menu li a:hover {
    color: #265361;
}

/* Media Query para telas menores */
@media (max-width: 1440px) {
    .navbar {
        display: flex;
        padding: 16px var(--10, 80px);
        justify-content: flex-end;
        align-items: flex-start;
        
    }

    .menu {
          gap: 20px;
        
    }

    .menu li a {
        font-size: 16px;
        color: #204551;
    }
}

@media (max-width: 1280px) {
    .navbar {
        padding: 10px;
        /* Ajusta o espaçamento em telas menores */
    }

    .menu {
        gap: 20px;
        /* Reduz o espaçamento entre itens */
    }

    .menu li a {
        font-size: 16px;
        /* Reduz o tamanho da fonte */
    }
}

@media (max-width: 1024px) {
    .navbar {
        padding: 10px;
    }

    .menu {
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    .menu li a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .menu li a {
        font-size: 18px;
    }
}

.search-container {
    display: flex;
    position: relative;
    width: 100%;
    /* Definindo a largura como 100% para se ajustar ao contêiner pai */
    max-width: 400px;
    /* Limite máximo para a largura */
    height: 56px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.00);
    flex-direction: column;
    align-items: flex-start;
    color: #B7BAC1;
    margin: 0 auto;
    /* Centraliza a barra de pesquisa */
}

.search-container input {
    height: 56px;
    padding: 16px 60px 16px 24px;
    /* Ajusta o padding */
    border-radius: 100px;
    border: 1px solid var(--Neutral-colors-Gray-Colors-400, #6B7280);
    background: rgba(255, 255, 255, 0.00);
    width: 100%;
    /* Para ocupar todo o espaço disponível */
    transition: border-color 0.3s;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* Efeito de hover na borda do input */
.search-container:hover input {
    border-color: #1E90FF;
}

.search-container input:focus {
    border-color: #1E90FF;
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 19.046px;
    height: 19.046px;
    flex-shrink: 0;
    pointer-events: none;
}

.dropdown-options {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    max-height: 400px;
    flex-direction: column;
    padding: 0;
}

.dropdown-options .option {
    padding: 10px 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.dropdown-options .option:hover {
    background-color: #f0f0f0;
}

/* Media Queries para Responsividade */


@media (max-width: 768px) {
    .search-container {
        width: 90%;
        /* Aumenta a largura em telas menores */
        max-width: none;
        /* Remove a largura máxima */
    }

    .search-container input {
        padding: 16px 40px 16px 20px;
        /* Ajusta o padding */
    }

    .search-icon {
        width: 16px;
        /* Ajusta o ícone da lupa para telas menores */
        height: 16px;
    }
}

@media (max-width: 480px) {
    .search-container {
        height: 48px;
        /* Reduz a altura em telas pequenas */
    }

    .search-container input {
        font-size: 12px;
        /* Reduz o tamanho da fonte no input */
        padding: 12px 40px 12px 16px;
        /* Ajusta o padding */
    }

    .search-icon {
        width: 14px;
        /* Ajusta ainda mais o ícone */
        height: 14px;
    }
}