.modal-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: white;
    border-radius: 8px;
    width: 100%;
    /* Ajuste conforme necessário */
    max-width: 480px;
    /* Limite máximo de largura */
    align-items: flex-start;
    position: relative;
    overflow-y: auto;
    scrollbar-width: thin;
    /* Para Firefox */
    scrollbar-color: #D3D3D3 transparent;
    /* Para Firefox */
}


.modal-content::-webkit-scrollbar {
    width: 8px;
    height: 150px;
}

.modal-content::-webkit-scrollbar-thumb {
    background-color: #D3D3D3;
    /* Cor do polegar */
    border-radius: 6x;
    /* Bordas arredondadas */
}

.modal-content::-webkit-scrollbar-track {
    background: transparent;
    /* Torna a trilha invisível */
}

.modal-content::-webkit-scrollbar-button {
    display: none;
    /* Remove os botões de rolagem */
}

.flex-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    height: 306px;
    /* Altura fixa */
    overflow-y: auto;
    /* Permite rolagem apenas aqui */
}


.modal-body {
    display: flex;
    flex-direction: column;
    /* Alinha os itens em coluna */
    height: 306px;
    /* A altura definida para a área visível */
    overflow-y: auto;
    /* Permite a rolagem vertical */
    gap: 10px;
    /* Espaçamento entre os elementos */
}

.modal-title {
    color: #333;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex: 1 0 0;
}


.modal-footer {
    display: flex;
    /* Comportamento flexível */
    justify-content: flex-end;
    /* Alinha o botão para a direita */
    width: 100%;
    /* Garanta que o footer ocupe toda a largura */
    gap: 10px;
    /* Espaço entre botões */
    margin-top: 20px;
}

.result-text,
.user-message {
    width: 422px;
    flex-shrink: 0;
    align-self: stretch;
    color: #000;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    /* 20.02px */
    letter-spacing: 0.17px;
}

.result-image {
    width: 422px;
    height: 197px;
    flex-shrink: 0;
}



#confirmButton {
    display: flex;
    /* Define o botão como flexível */
    padding: 8px 24px;
    /* Padding do botão */
    justify-content: center;
    /* Centraliza o conteúdo do botão */
    align-items: center;
    /* Alinha itens do botão no centro */
    gap: 10px;
    /* Espaçamento entre ícones e texto no botão */
    border-radius: 50px;
    /* Arredondamento do botão */
    border: 1px solid var(--Primary-Pressed---500, #204551);
    background: var(--Primary-Defaunt---400, #3A6573);
    color: var(--gray-scale-white-white, #FFF);
    font-family: 'nunito';
        /* Fonte do botão */
        font-size: 20px;
    line-height: 160%;
    /* Altura da linha */
    letter-spacing: 0.15px;
    /* Espacemento das letras */
}

#backButton {
    display: flex;
    height: 42px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 42px;
    color: #888;

    /* Typography/Subtitle/subtitle2 */
    font-family: 'nunito';
    font-size: 20px;
    font-style: normal;
    line-height: 160%;
    /* 32px */
    letter-spacing: 0.15px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    /* Espaço entre o título e o botão X */
    align-items: center;
    /* Centraliza verticalmente */
    width: 100%;
}

#close-button {
    font-size: 24px;
    /* Ajuste o tamanho do X conforme necessário */
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    cursor: pointer;
    background: none;
    border: none;
    color: #CCCCCC;
    /* Cor do botão X */
}



.divider {
    width: 440px;
    height: 1px;
    background: #E1E1E1;
    margin-bottom: 10px;
    /* Margem para separar do título */
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.hidden {
    display: none !important;
}