/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    /* Previne scroll horizontal */
}

.hero-section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    margin-bottom: 0;
    overflow: visible;
}

/* Novo elemento para o background */
.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 95%;
    background: url('../images/sondagem/union.png') center/cover no-repeat;
    /* Alterado para cover */
    background-position: center bottom;
    z-index: 4;
}

.wave-wrapper {
    position: absolute;
    bottom: -30px;
    /* Ajustado para subir um pouco */
    left: 0;
    width: 100%;
    height: auto;
    z-index: 3;
    background: transparent;
}

.wave-container {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: -1px;
    background: var(--Neutral-colors-Gray-Colors-100, #F3F4F6);
    /* Adicionado mesmo background */
}

.container-sondagem {
    position: relative;
    z-index: 4;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px 60px;
    /* Ajustado padding-top */
    text-align: center;
    color: white;
}

.main-title {
    width: 100%;
    max-width: 1268px;
    color: #FEFEFE;
    text-align: center;
    font-family: "Wix Madefor Display";
    font-size: clamp(32px, 5vw, 64px);
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -0.5px;
    margin-bottom: 2rem;
    margin-top: 0;
}

.decorative-bar {
    width: 133px;
    height: 6px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F8B490;
    margin: 2rem auto;
}

/* Exibe apenas a versão desktop por padrão */
.hero-text-mobile {
    display: none;
}

/* Estilos base para os textos do hero */
.hero-text {
    width: 100%;
    max-width: 1040px;
    color: #FEFEFE;
    text-align: center;
    font-family: 'Nunito';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin: 2rem auto;
    padding: 20px;
}

.text-mobile {
    display: none;
}

.text-desktop {
    display: block;
}



.sondagem-content {
    position: relative;
    background: var(--Neutral-colors-Gray-Colors-100, #F3F4F6);
    padding: 80px 0;
    margin-top: 0;
    z-index: 2;
    width: 100vw;
    max-width: 100%;
}

.sondagem-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 182px 20px;

}

.sondagem-title {
    color: #204551;
    font-family: 'Mulish';
    font-size: 40px;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 40px;
    position: relative;
    padding-left: 20px;
    color: #204551;
    font-style: normal;
    line-height: 120%;
    height: 41px;
}

.sondagem-title::before {
    content: '';
    position: absolute;
    left: -24px;
    top: 50%;
    width: 47px;
    height: 6px;
    background-color: #F8B490;
    transform: rotate(-90deg);
    border-radius: 4px;
}

.sondagem-text {
    color: #3B3E43;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    height: 408px;
    align-self: stretch;
}

.sondagem-text p {
    margin-bottom: 24px;
}

.sondagem-text p:last-child {
    margin-bottom: 0;
}

/*autoavaliação*/

.autoavaliacao-section {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
    background: linear-gradient(121deg, var(--Neutral-colors-White-Colors-100, #FEFEFE) -1.71%, var(--Secundary-100, #FDF8EB) 98.12%);
    display: flex;
    /* Torna a section um flex container */
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    /* Centraliza o conteúdo verticalmente */
    padding: 0;
}

.autoavaliacao-content {
    display: flex;
    width: 583px;
    padding: 276px 0px;
    justify-content: center;
    align-items: center;
    gap: 34px;
    flex-shrink: 0;
}

/* Estilo para a imagem */
.img-autoavaliacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 583px;
    height: 500px;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.25));
}

/* Estilo para o texto */
.autoavaliacao-titulo-texto {
    display: flex;
    width: 563.5px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--4, 32px);
    flex-shrink: 0;
}

.autoavaliacao-titulo-texto h1 {
    display: flex;
    width: 563px;
    height: 149px;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    color: var(--Neutral-colors-Black-Colors-400, #292B2F);
    font-family: 'Nunito';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    /* 80px */
    letter-spacing: -0.5px;
}

.autoavaliacao-titulo-texto p {
    width: 563px;
    color: var(--Neutral-colors-Black-Colors-400, #292B2F);
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

/* Estilo para o botão */
.btn {
    display: flex;
    height: 56px;
    padding: 16px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    border-radius: var(--spacing-spacing-4-spacing-3, 12px);
    background: var(--Complementary-Red-and-orange-400, #F59460);
    box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.08);
    border: none;
}

.btn:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #F27E45;
    /* Cor mais escura no hover */
}

.autoavaliacao-btn {
    margin-top: 20px;
}

/* Estilo para o texto do botão */
.btn-text {
    color: var(--gray-scale-white-white, #FFF);
    font-family: 'Nunito';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

/* Responsividade */

/* Adicionando media query específica para tela de 853px */
@media screen and (max-width: 1024px) {
    .hero-section {
        padding: 100px 0 30px;
        /* Ajustado padding para telas menores */
    }

    .hero-background {
        height: 100%;
        /* Garante cobertura total */
    }

    .container-sondagem {
        padding: 20px 15px 30px;
        margin-top: 0;
        /* Removido margin negativa */
    }

    .hero-text {
        font-size: 17px;
        line-height: 1.7;
        padding: 15px;
        max-width: 90%;
        /* Ajustando largura máxima */
        margin: 1.5rem auto;
    }

    .main-title {
        font-size: clamp(34px, 4.2vw, 42px);
        margin-bottom: 1.5rem;
    }

    .decorative-bar {
        margin: 1.5rem auto;
    }

    .sondagem-title {
        font-size: 32px;
        padding-left: 15px;
    }

    .decorative-right {
        width: 500px;
        right: -400px;
        object-fit: contain;
    }

    .regua-wrapper {
        max-width: 90%;
        gap: 32px;
    }

    .regua-imagem {
        max-width: 100%;
        height: auto;
    }

    .regua-container {
        padding: 0 15px;
    }

    /* Adicionando ajustes para o health-burnout */
    .health-burnout-container {
        padding: 80px 30px;
        gap: 40px;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .health-burnout-title {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        position: relative;
        padding: 0;
    }

    .health-burnout-title::before {
        left: 0;
        top: 50%;
    }

    .health-burnout-title h2 {
        font-size: 32px;
        width: 100%;
        height: auto;
        margin: 0 0 0 24px;
        padding-right: 20px;
        line-height: 1.3;
    }

    .health-burnout-text {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .health-burnout-text p {
        font-size: 16px;
        line-height: 1.5;
        height: auto;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .health-burnout-container img {
        width: 100%;
        max-width: 380px;
        height: auto;
        margin: 30px auto;
        display: block;
    }

    .decorative-left {
        width: 200px;
        height: auto;
        left: -150px;
        top: 25%;
    }

    .decorative-right {
        width: 300px;
        height: auto;
        right: -200px;
        top: 30%;
    }
}

@media screen and (max-height: 665px) {
    .hero-background {
        height: 100%;
    }
}

.divider-section {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: -1px 0;
    /* Evita gaps entre seções */
    background: var(--Neutral-colors-White-Colors-400, #FBFBFB);
}

.divider-image {
    width: 100%;
    height: auto;
    display: block;
}


.reflexao-section {
    display: flex;
    width: auto;
    padding: 182px 79px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    flex-shrink: 0;
    background: #FAFAFA;
}

.container-reflexao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    width: 100%;
}

.reflexao-texto-box {
    display: flex;
    width: 1282px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
}

.reflexao-texto {
    display: flex;
    width: 1249px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--3, 24px);
    position: relative;
    padding-left: 34px;
}

.reflexao-texto::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 6px;
    background-color: #F8B490;
    border-radius: 4px;
}

.reflexao-texto h2 {
    color: var(--Primary-Pressed---500, #204551);
    font-family: 'Mulish';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 48px */
}

.reflexao-texto p {
    color: #1F2123;
    font-family: 'Nunito';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin: 0;
}

/* Cards */
.reflexao-cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 53px;
    margin-top: 48px;

}

.reflexao-cards-box-1,
.reflexao-cards-box-2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 90px;
    padding: 0 0 53px;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 368px;
    height: 180px;
    padding: 60px 20px;
    gap: 20px;
    border-radius: 8px;
    background: #FEFEFE;
    position: relative;
    text-align: center;
    flex-shrink: 0;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgba(229, 231, 235, 0.04), 0px 4px 4px 0px rgba(0, 86, 204, 0.06);
}

.circle {
    width: 103.416px;
    height: 100px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: var(--12, 96px);
    background: #FDF8EB;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.circle h1 {
    font-family: 'Nunito';
    font-size: 64px;
    font-weight: 700;
    line-height: 125%;
    color: #F8B490;
    margin: 0;
}

.card-1 p,
.card-2 p,
.card-3 p,
.card-4 p,
.card-5 p,
.card-6 p {
    color: #1F2123;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .reflexao-section {
        padding: 60px 20px;
    }

    .reflexao-texto-box {
        width: 100%;
    }

    .reflexao-texto {
        width: 100%;
    }

    .reflexao-cards-box-1,
    .reflexao-cards-box-2 {
        flex-direction: column;
        gap: 60px;
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
        width: 100%;
    }
}

/* Ajuste para telas menores */
@media screen and (max-width: 853px) {
    .divider-section {
        margin-top: -2px;
        /* Ajuste fino para evitar gaps em telas menores */
    }
}

/* Ajuste para telas maiores */
@media screen and (min-width: 1920px) {
    .sondagem-content {
        display: flex;
        justify-content: center;
    }

    .sondagem-container {
        width: 100%;
        max-width: 1440px;
        /* Aumentado para telas maiores */
    }
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    .autoavaliacao-content {
        padding: 60px 20px;
    }

    .sondagem-container {
        padding: 120px 20px;
    }
}

@media screen and (max-width: 820px) {
    .hero-section {
        padding: 80px 0 30px;
        /* Reduzido ainda mais para telas menores */
    }

    .container-sondagem {
        padding: 15px 15px 30px;
    }

    .autoavaliacao-content {
        flex-direction: column;
        gap: 40px;
        padding: 40px 20px;
        align-items: center;
    }

    .img-autoavaliacao {
        width: 100%;
        max-width: 450px;
        order: -1;
    }

    .autoavaliacao-titulo-texto {
        width: 100%;
        max-width: 600px;
        text-align: center;
        align-items: center;
        padding: 0 20px;
    }

    .autoavaliacao-titulo-texto h1 {
        font-size: clamp(36px, 4.5vw, 48px);
        margin-bottom: 20px;
        text-align: center;
    }

    .autoavaliacao-titulo-texto p {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 30px;
        text-align: center;
    }

    .btn {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
    }

    .autoavaliacao-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .hero-text {
        font-size: 17px;
        line-height: 1.7;
        padding: 15px;
    }

    /* Ajustes para a seção de reflexão */
    .reflexao-section {
        padding: 60px 20px;
    }

    .reflexao-texto-box {
        width: 100%;
        padding: 0 15px;
    }

    .reflexao-texto {
        width: 100%;
        padding-left: 24px;
    }

    .reflexao-texto h2 {
        font-size: 32px;
        line-height: 1.2;
        text-align: left;
    }

    .reflexao-texto p {
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
    }

    .reflexao-cards-container {
        margin-top: 32px;
        gap: 80px;
    }

    .reflexao-cards-box-1,
    .reflexao-cards-box-2 {
        flex-direction: column;
        gap: 80px;
        padding: 0;
        align-items: center;
    }

    .card-1,
    .card-2,
    .card-3,
    .card-4,
    .card-5,
    .card-6 {
        width: 100%;
        max-width: 368px;
        height: auto;
        min-height: 180px;
        padding: 40px 15px;
        margin-top: 50px;
    }

    .circle {
        width: 80px;
        height: 80px;
        top: -40px;
    }

    .circle h1 {
        font-size: 48px;
    }

    .card-1 p,
    .card-2 p,
    .card-3 p,
    .card-4 p,
    .card-5 p,
    .card-6 p {
        font-size: 15px;
        margin-top: 20px;
        padding: 0 10px;
    }
    .sondagem-title {
        font-size: 32px !important;
        padding: 96px 16px;
        margin-bottom: 20px;
        right: -15px;
        line-height: 1.2;
        margin-top: 0;
        text-align: left;
        word-break: break-word;
        max-width: 100%;
    }

    .sondagem-title::before {
        left: -27px;
        margin-top: 20px;
        width:60px;
        height: 4px;
        background-color: #F8B490;
        border-radius: 4px;
        transform: rotate(-90deg);
    }

    .sondagem-container {
        padding: 0 8px 32px 8px;
        /* padding extra embaixo */
    }

    .sondagem-text {
        margin-top: 42px !important;
        margin-bottom: 40px !important;
        height: auto !important;
        padding-bottom: 16px;
    }

    .sondagem-container {
        padding-bottom: 32px !important;
    }

}

@media screen and (max-width: 540px) {
    .sondagem-title {
        font-size: 32px !important;
        padding: 96px 16px;
        margin-bottom: 20px;
        right: -15px;
        line-height: 1.2;
        margin-top: 0;
        text-align: left;
        word-break: break-word;
        max-width: 100%;
    }

    .sondagem-title::before {
        left: -67px;
        margin-top: 50px;
        width: 120px;
        height: 4px;
        background-color: #F8B490;
        border-radius: 4px;
        transform: rotate(-90deg);
    }

    .sondagem-container {
        padding: 0 8px 32px 8px;
        /* padding extra embaixo */
    }

    .sondagem-text {
        margin-top: 42px !important;
        margin-bottom: 40px !important;
        height: auto !important;
        padding-bottom: 16px;
    }

    .sondagem-container {
        padding-bottom: 32px !important;
    }

}
@media screen and (max-width: 480px) {
    .hero-section {
        padding: 70px 0 30px;
        background: var(--Neutral-colors-Gray-Colors-100, #F3F4F6);
    }

    .hero-text {
        font-size: 50px;
        padding: 10px;
    }

    .main-title {
        font-size: clamp(28px, 3vw, 36px);
    }

    .btn {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .decorative-left,
    .decorative-right {
        display: none;
    }

    .emoji-item {
        width: 36px;
        height: 36px;
    }

    .background-rectangle {
        background-size: cover;
        height: 100%;
    }

    .avaliacao-satisfacao-section {
        min-height: 800px;
        padding: 50px 0;
    }

    .background-rectangle {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .health-burnout-container {
        padding: 60px 15px;
        height: auto;
    }

    .health-burnout-title {
        width: 100%;
        padding: 0 10px;
    }

    .health-burnout-title h2 {
        font-size: 24px;
        margin-left: 15px;
        width: 100%;
        word-break: break-word;
        overflow-wrap: break-word;
        line-height: 1.3;
    }

    .health-burnout-text {
        width: 100%;
        padding: 0 15px;
    }

    .health-burnout-text p {
        font-size: 14px;
        text-align: left;
    }

    .health-burnout-container img {
        max-width: 280px;
        margin: 20px auto;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .hero-section {
        padding: 50px 0 20px;
        min-height: auto;
        height: auto;
        max-height: 100vh;
    }

    .hero-background {
        height: 100%;
        background-size: cover;
        background-position: center;
        top: 0;
        max-height: 100vh;
    }

    .container-sondagem {
        padding: 10px 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .main-title {
        font-size: 26px;
        margin-bottom: 1rem;
        line-height: 120%;
    }

    .hero-text {
        font-size: 14px;
        line-height: 1.5;
        padding: 10px;
        margin: 1rem auto;
        height: auto;
    }

    .decorative-bar {
        margin: 1rem auto;
        width: 100px;
    }

    .wave-wrapper {
        bottom: -15px;
        position: absolute;
    }
}

@media screen and (max-width: 430px) {
    .text-desktop {
        display: none;
    }

    .text-mobile {
        display: block;
        font-size: 20px !important;
        line-height: 1.5;
    }

    .hero-text {
        padding: 0 10px;
        margin: 1rem auto 0 auto;
    }

    .container-sondagem .hero-text .text-mobile {
        font-size: 20px !important;
    }

    .main-title {
        font-size: 48px !important;
    }

    .hero-text-desktop {
        display: none;
    }

    .hero-text-mobile {
        display: block;
        font-size: 15px;
        line-height: 1.5;
        text-align: center;
        padding: 0 10px;
        margin: 1rem auto 0 auto;
    }

    .decorative-bar {
        margin: 1rem auto;
        width: 80px;
        height: 4px;
    }

    .wave-wrapper {
        display: none;
    }
}

/* Estilos para a seção de avaliação de satisfação */
.avaliacao-satisfacao-section {
    width: 100%;
    background: linear-gradient(1deg, var(--Neutral-colors-White-Colors-500, #FAFAFA) -5.23%, var(--Complementary-Purple-100, #F5F3FF) 104.96%);
    position: relative;
    padding: 100px 0;
    overflow: visible;
    min-height: 1500px;
    height: auto;
    z-index: 1;
}

.background-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    object-fit: contain;
    max-height: none;
}

.container-avaliacao {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.white-border-container {
    width: 100%;
    max-width: 1280px;
    min-height: 670px;
    background: linear-gradient(180deg, rgba(254, 254, 254, 0.50) 0%, rgba(250, 250, 250, 0.50) 100%);
    border-radius: 24px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 2px 8px rgba(0, 86, 204, 0.06), 0px 4px 8px rgba(229, 231, 235, 0.08);
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    z-index: 3;
}

.avaliacao-title-container {
    text-align: center;
    margin-bottom: 10px;
}

.avaliacao-title {
    color: #204551;
    font-family: 'Mulish';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 16px;
}

.decorative-bar-1 {
    width: 111px;
    height: 4px;
    background: #F8B490;
    border-radius: 4px;
    margin: 0 auto;
}

.avaliacao-text {
    max-width: 1068px;
    height: 96px;
    flex-shrink: 0;
    margin-bottom: 64px;

}

.avaliacao-text p {
    color: var(--Neutral-colors-Black-Colors-500, #1F2123);
    text-align: center;
    font-family: 'Nunito';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    gap: 64px;
}

.regua-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.regua-wrapper {
    display: flex;
    max-width: 1068px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: var(--8, 64px);
}

.regua-imagem {
    width: 100%;
    height: auto;
    max-width: 1068px;
    object-fit: contain;
}

.decorative-images {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}

.decorative-left {
    position: absolute;
    left: -570px;
    top: 20%;
    transform: translateY(-50%);
    opacity: 1;
    width: 1319.5px;
    height: 848.502px;
    flex-shrink: 0;


}

.decorative-right {
    position: absolute;
    width: 650px;
    height: auto;
    right: -440px;
    top: 30%;
    transform: translateY(-50%);
    z-index: 0;
    object-fit: contain;
}

.health-burnout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 983px;
    padding: 182px 72px;
    gap: 92px;
    flex-shrink: 0;
}

.health-burnout-text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0 20px;
}

.health-burnout-title {
    display: flex;
    height: auto;
    width: 1297px;
    align-self: stretch;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
    position: relative;
}

.health-burnout-title h2 {
    height: 41px;
    flex-shrink: 0;
    align-self: stretch;
    color: #204551;
    font-family: 'Mulish';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-left: 24px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.health-burnout-borda {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.health-burnout-title {
    position: relative;
}


.health-burnout-title::before {
    content: '';
    position: absolute;
    width: 47px;
    height: 6px;
    transform: rotate(-90deg);
    left: -24px;
    top: 50%;
    width: 47px;
    height: 6px;
    background-color: #F8B490;
    transform: rotate(-90deg);
    border-radius: 4px;
}

.health-burnout-text p {
    height: 96px;
    align-self: stretch;
    color: #3B3E43;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 100%;
}

.health-burnout-container img {
    fill: rgba(189, 204, 209, 0.50);
    align-items: center;
    width: 554px;
    height: 469px;
    flex-shrink: 0;
    margin-top: 92px;
    margin-left: 387px;
    margin-right: 377px;
}

.divider-section-2 {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: -1px 0;
    fill: var(--Neutral-colors-White-Colors-500, #FAFAFA);
}

.divider-image-2 {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
}

@media screen and (min-width: 1600px) {
    .decorative-images {
        max-width: 100%;
        overflow: hidden;
    }

    .decorative-left {
        left: 0;
        width: 254px;
        height: 638px;
        top: 18%;
    }

    .decorative-right {
        width: 700px;
        right: -350px;
        top: 30%;
        transform: translateY(-50%);
        z-index: 0;
        object-fit: contain;

    }

    .container-avaliacao {
        max-width: 1940px;
        width: 100%;
        padding: 40px;
    }

    .white-border-container {
        max-width: 1640px;
        min-height: 670px;
        padding: 80px;
    }

    .avaliacao-title {
        font-size: 48px;
    }

    .avaliacao-text p {
        font-size: 22px;
    }

    .avaliacao-satisfacao-section {
        min-height: 1600px;
    }

    .background-rectangle {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1280px) {
    .health-burnout-container {
        padding: 100px 40px;
        height: auto;
        gap: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .health-burnout-title {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        position: relative;
    }

    .health-burnout-title::before {
        left: 0;
        top: 50%;
    }

    .health-burnout-title h2 {
        font-size: 36px;
        width: 100%;
        height: auto;
        margin: 0 0 0 24px;
        line-height: 1.3;
        padding-right: 30px;
    }

    .health-burnout-text {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 30px;
    }

    .health-burnout-text p {
        font-size: 16px;
        line-height: 1.5;
        height: auto;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .health-burnout-container img {
        width: 100%;
        max-width: 450px;
        height: auto;
        margin: 40px auto;
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .health-burnout-container {
        padding: 80px 30px;
        gap: 40px;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .health-burnout-title {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        position: relative;
        padding: 0;
    }

    .health-burnout-title::before {
        left: -30px;
       width: 80px;
    }

    .health-burnout-title h2 {
        font-size: 32px;
        width: 100%;
        height: auto;
        margin: 0 0 0 24px;
        padding-right: 20px;
        line-height: 1.3;
    }

    .health-burnout-text {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .health-burnout-text p {
        font-size: 16px;
        line-height: 1.5;
        height: auto;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .health-burnout-container img {
        width: 100%;
        max-width: 380px;
        height: auto;
        margin: 30px auto;
        display: block;
    }

    .decorative-left {
        width: 200px;
        height: auto;
        left: -150px;
        top: 25%;
    }

    .decorative-right {
        width: 300px;
        height: auto;
        right: -200px;
        top: 30%;
    }
}

@media screen and (max-width: 768px) {
    .health-burnout-container {
        padding: 80px 20px;
        gap: 40px;
    }

    .health-burnout-title {
        width: 100%;
        padding: 0 10px;
    }

    .health-burnout-title {
        position: relative;
        left: 15px;
    }

    .health-burnout-title::before {
        left: -50px;
        top: 50%;
        width: 100px;
        height: 6px;
        background-color: #F8B490;
        transform: rotate(-90deg);
        border-radius: 4px;
    }

    .health-burnout-title h2 {
        font-size: 32px;
        margin-left: 20px;
        width: calc(100% - 40px);
        word-wrap: break-word;
        overflow-wrap: break-word;
        line-height: 1.2;
        max-width: 700px;
        margin-right: 20px;
    }

    .health-burnout-text p {
        font-size: 14px;
        height: auto;
        padding: 0 15px;
        max-width: 100%;
    }

    .health-burnout-container img {
        width: 100%;
        max-width: 350px;
        margin: 30px auto;
    }

    .decorative-left {
        width: 150px;
        left: -100px;
    }

    .decorative-right {
        width: 200px;
        right: -150px;
    }
}

@media screen and (max-width: 430px) {
    .health-burnout-title {
        position: relative;
        left: 0px;
        width: 375px;
        display: flex;
    }

    .health-burnout-title::before {
        left: -65px;
        width: 160px;
    }

    .health-burnout-title h2 {
        color: var(--Primary-Pressed---500, #204551);
        font-family: 'Nunito';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: 0.25px;
    }

    .health-burnout-text p {
        color: var(--Neutral-colors-Black-Colors-200, #3B3E43);
        font-family: 'Roboto';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 143%;
        letter-spacing: 0.17px;
    }

}

@media screen and (max-width: 360px) {
    .health-burnout-title {
      
        left: -10px;
        
    }
}

@media screen and (max-width: 430px) {
    .main-title {
        font-size: 48px !important;
    }

    .hero-text-desktop {
        display: none;
    }

    .hero-text-mobile {
        display: block;
        font-size: 15px;
        line-height: 1.5;
        text-align: center;
        padding: 0 10px;
        margin: 1rem auto 0 auto;
    }
}

@media screen and (min-width: 1442px) {
    .health-burnout-container {
        padding: 182px 0;
        max-width: 1440px;
        margin: 0 auto;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .hero-section {
        padding: 50px 0 20px;
        min-height: auto;
        height: auto;
        max-height: 100vh;
    }

    .hero-background {
        height: 100%;
        background-size: cover;
        background-position: center;
        top: 0;
        max-height: 100vh;
    }

    .main-title {
        font-size: 26px;
        margin-bottom: 1rem;
        line-height: 120%;
    }

    .hero-text {
        font-size: 14px;
        line-height: 1.5;
        padding: 10px;
        margin: 1rem auto;
        height: auto;
    }

    .decorative-bar {
        margin: 1rem auto;
        width: 100px;
    }

    .wave-wrapper {
        bottom: -15px;
        position: absolute;
    }
}

@media screen and (max-width: 1024px) {
    .regua-wrapper {
        max-width: 90%;
        gap: 32px;
    }

    .regua-container {
        padding: 0 15px;
    }

    .white-border-container {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 768px) {
    .regua-wrapper {
        max-width: 95%;
        gap: 24px;
    }

    .regua-container {
        padding: 0 10px;
    }

    .white-border-container {
        padding: 30px 15px;
    }
}

@media screen and (max-width: 480px) {
    .regua-wrapper {
        max-width: 100%;
        gap: 16px;
    }

    .regua-container {
        padding: 0 5px;
    }

    .white-border-container {
        padding: 20px 10px;
    }

    .avaliacao-text {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 540px) {
    .white-border-container {
        padding: 20px 10px;
        min-height: auto;
        gap: 20px;
    }

    .avaliacao-title {
        font-size: 28px;
        margin-bottom: 10px;
        line-height: 1.2;
    }

    .avaliacao-text {
        height: auto;
        margin-bottom: 40px;
    }

    .avaliacao-text p {
        font-size: 16px;
        line-height: 1.4;
        padding: 0 10px;
    }

    .regua-container {
        margin-top: 20px;
        padding: 0;
    }

    .regua-wrapper {
        max-width: 100%;
        gap: 10px;
        padding: 0 5px;
    }

    .regua-imagem {
        width: 95%;
        margin: 0 auto;
    }

    .container-avaliacao {
        padding: 20px 10px;
    }

    .avaliacao-satisfacao-section {
        min-height: auto;
        padding: 40px 0;
    }

    .decorative-left {
        width: 100px;
        left: -70px;
        top: 20%;
    }

    .decorative-right {
        width: 150px;
        right: -100px;
        top: 25%;
    }

}

@media screen and (max-width: 375px) {
    .avaliacao-title {
        font-size: 24px;
    }

    .avaliacao-text p {
        font-size: 14px;
        line-height: 1.3;
    }

    .white-border-container {
        padding: 15px 8px;
    }

    .regua-container {
        margin-top: 15px;
    }

    .regua-wrapper {
        padding: 0 3px;
    }

    .regua-imagem {
        width: 98%;
    }

    .avaliacao-text {
        margin-bottom: 30px;
    }

    .decorative-left,
    .decorative-right {
        display: none;
    }




}

/* =======================
   MEDIA QUERIES SONDAGEM
   ======================= */

@media screen and (min-width: 1920px) {
    .sondagem-content {
        display: flex;
        justify-content: center;
    }

    .sondagem-container {
        width: 100%;
        max-width: 1440px;
    }
}

/* Desktop pequeno (max-width: 1280px) */
@media screen and (max-width: 1280px) {
    .sondagem-container {
        padding: 150px 80px;
    }
    
}

/* Tablet pequeno (max-width: 820px) */
@media screen and (max-width: 820px) {
    .sondagem-title {
        font-size: 32px !important;
        padding: 96px 16px;
        margin-bottom: 20px;
        right: -15px;
        line-height: 1.2;
        margin-top: 0;
        text-align: left;
        word-break: break-word;
        max-width: 100%;
    }

    .sondagem-title::before {
        left: -27px;
        margin-top: 20px;
        width:60px;
        height: 4px;
        background-color: #F8B490;
        border-radius: 4px;
        transform: rotate(-90deg);
    }

    .sondagem-container {
        padding: 0 8px 32px 8px;
        /* padding extra embaixo */
    }

    .sondagem-text {
        margin-top: 42px !important;
        margin-bottom: 40px !important;
        height: auto !important;
        padding-bottom: 16px;
    }

    .sondagem-container {
        padding-bottom: 32px !important;
    }

}


/* Tablet pequeno (max-width: 768px) */
@media screen and (max-width: 768px) {
    .sondagem-title {
        font-size: 32px;
        padding-left: 15px;
    }

    .sondagem-text {
        font-size: 16px;
    }
}

/* Mobile grande (max-width: 600px) */
@media screen and (max-width: 600px) {
    .sondagem-container {
        padding: 10px 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
}

@media screen and (max-width: 540px) {
    .sondagem-title {
        font-size: 32px !important;
        padding: 96px 16px;
        margin-bottom: 20px;
        right: -15px;
        line-height: 1.2;
        margin-top: 0;
        text-align: left;
        word-break: break-word;
        max-width: 100%;
    }

    .sondagem-title::before {
        left: -67px;
        margin-top: 50px;
        width: 120px;
        height: 4px;
        background-color: #F8B490;
        border-radius: 4px;
        transform: rotate(-90deg);
    }

    .sondagem-container {
        padding: 0 8px 32px 8px;
        /* padding extra embaixo */
    }

    .sondagem-text {
        margin-top: 42px !important;
        margin-bottom: 40px !important;
        height: auto !important;
        padding-bottom: 16px;
    }

    .sondagem-container {
        padding-bottom: 32px !important;
    }

}
/* Mobile pequeno (max-width: 480px) */
@media screen and (max-width: 480px) {
    .sondagem-title {
        font-size: 32px !important;
        max-width: 350px;
        padding: 96px 16px;
        margin-bottom: 20px;
        font-weight: 600;
        right: 0;
        line-height: 1.2;
        margin-top: 0;
        text-align: left;
        word-break: break-word;
        font-family: 'Nunito';

    }

    .sondagem-title::before {
        top: 90px;
        left: -60px;
        margin-top: 50px;
        width: 120px;
        height: 6px;
        background-color: #F8B490;
        border-radius: 4px;
        transform: rotate(-90deg);
    }

    .sondagem-container {
        display: flex;
        width: 361px;
        padding: -10px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .sondagem-text {
        color: var(--Neutral-colors-Black-Colors-200, #3B3E43);
        font-family: 'Roboto';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 143%;
        letter-spacing: 0.17px;
    }

    .sondagem-container {
        padding-bottom: 32px !important;
    }

    .sondagem-title {
        font-size: 32px !important;
        padding: 96px 16px;
        margin-bottom: 20px;
        right: -15px;
        line-height: 1.2;
        margin-top: 0;
        text-align: left;
        word-break: break-word;
        max-width: 100%;
    }

    .sondagem-title::before {
        left: -67px;
        margin-top: 50px;
        width: 120px;
        height: 4px;
        background-color: #F8B490;
        border-radius: 4px;
        transform: rotate(-90deg);
    }

    .sondagem-container {
        padding: 0 8px 32px 8px;
        /* padding extra embaixo */
    }

    .sondagem-text {
        margin-top: 42px !important;
        margin-bottom: 40px !important;
        height: auto !important;
        padding-bottom: 16px;
    }


    .sondagem-container {
        padding-bottom: 32px !important;
    }
}

/* Mobile muito pequeno (max-width: 375px) */
@media screen and (max-width: 375px) {
    .sondagem-container {
        margin-top: -20px;
        padding: 0 38px 32px 38px;
    }

    .sondagem-title {
        margin-top: -12px;
        font-size: 22px;
    }

    .sondagem-title {
        left: 10px;
    }
}

@media (max-width: 1024px) {
    .autoavaliacao-content {
        flex-direction: column;
        width: 95%;
        padding: 60px 0;
        gap: 24px;
    }

    .img-autoavaliacao {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .autoavaliacao-titulo-texto {
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .autoavaliacao-titulo-texto h1 {
        font-size: 36px;
        line-height: 120%;
    }

    .autoavaliacao-titulo-texto p {
        font-size: 15px;
        line-height: 150%;
    }

    .autoavaliacao-titulo-texto button,
    .autoavaliacao-titulo-texto .button-class { /* ajuste para o botão */
        width: 100%;
        max-width: 300px;
        font-size: 16px;
        align-items: center;
    
    }
}

@media (max-width: 768px) {
    .autoavaliacao-content {
        flex-direction: column;
        width: 90%;
        padding: 100px 0;
        gap: 20px;
    }

    .img-autoavaliacao {
        width: 100%;
        height: auto;
    }

    .autoavaliacao-titulo-texto {
        width: 100%;
        gap: 24px;
        align-items: center;
        text-align: center;

    }

    .autoavaliacao-titulo-texto h1 {
        width: 100%;
        height: auto;
        font-size: 42px;
        line-height: 120%;
    }

    .autoavaliacao-titulo-texto p {
        width: 100%;
        font-size: 14px;
        line-height: 150%;
    }
}
@media (max-width: 480px) {
    
    .autoavaliacao-section {
      width: 100% !important;
      min-height: auto !important;
      padding: 24px 8px !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: flex-start !important;
    }
  
    .autoavaliacao-content {
      width: 100% !important;
      max-width: 100vw !important;
      padding: 0 !important;
      flex-direction: column !important;
      gap: 16px !important;
      align-items: center !important;
      justify-content: flex-start !important;
    }
  
    .img-autoavaliacao img{
      width: 100% !important;
      max-width: 314.5px !important;
      height: auto !important;
      margin: 0 auto 16px auto !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
  

    .autoavaliacao-titulo-texto {
      width: 100% !important;
      max-width: 329px !important;
      align-items: center !important;
      gap: 12px !important;
      margin: 0 auto 8px auto !important;
      text-align: center !important;
      display: flex !important;
      flex-direction: column !important;
    }
  
    .autoavaliacao-titulo-texto h1 {
        color: var(--Neutral-colors-Black-Colors-400, #292B2F);
        font-family: 'Nunito';
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        letter-spacing: 0.25px;
        text-align: left !important;
    }
  
    .autoavaliacao-titulo-texto p {
        color: var(--Neutral-colors-Black-Colors-400, #292B2F);
        width: 329px;
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-align: left  !important;
        width: 329px;
    }
  
    .autoavaliacao-btn {
      width: 100% !important;
      display: flex !important;
      justify-content: center !important;
      margin-top: 24px !important;
    }
  
    .autoavaliacao-btn .btn {
      width: 100% !important;
      max-width: 320px !important;
      margin: 0 auto !important;
      padding: 14px 0 !important;
      font-size: 16px !important;
      border-radius: 8px !important;
      position: static !important;
      display: block !important;
    }
    
  }
