
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f7fa;
}

.container {
    display: flex;
    width: 1440px;  /* Ajustado para 1440px */
    height: 866px;  /* Ajustado para 866px */
    padding: 224px 0 224px 80px;  /* Padding conforme especificações */
    align-items: center;
    gap: 89px;  /* Espaçamento entre os elementos */
    flex-shrink: 0;
    position: relative;  /* Para posicionar elementos internos */
}

header {
    text-align: left;  /* Alinhamento à esquerda */
}

header h1 {
    font-size: 2.5rem;
    color: #333;
}

header p {
    font-size: 1.2rem;
    color: #555;
}

.teste-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.teste-button:hover {
    background-color: #0056b3;
}

.illustration {
    text-align: right;  /* Alinhamento à direita */
}

.illustration img {
    max-width: 100%;
    height: auto;
}
