.container-sintomas {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 80px 120px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    position: relative;
}


.texto-sintomas h1 {
    color: #00323D;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;
}

.texto-sintomas p {
    color: #3B3E43;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 700px;
}


.texto-sintomas {
    position: relative;
    padding-left: 30px;
}

.texto-sintomas::before {
    content: "";
    width: 4px;
    height: 100%;
    background: #F8B490;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}


.sintomas-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 50px;
}

.sintoma-bloco {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 32px;
    position: relative;
}

.sintoma-bloco img {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
}

.sintoma-bloco h3 {
    color: #00323D;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-left: 32px;
}

.sintoma-bloco ul {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #3B3E43;
    list-style-type: disc;
    padding-left: 52px;
}

